
*{
    box-sizing: border-box;
}

body {
    /* background-color: skyblue; */
    background-size: 150%; 
}
 .logo{
    width: 99px;
    height: 89;
    border-radius: 50%;
    margin-left: 10px;
    float:center; 
   /* position:absolute; */
}
.mention-legales{
    color: red;
}
