<footer  class="footer fixed-bottom  text-center py-2 ">
<p>Ce site ne prétend pas remplacer les services professionnels de santé ni les prises en charge médicales et psychologiques existantes. Son objectif est de compléter ces services en fournissant des informations et des ressources supplémentaires.</p>
    <p>2024 Hello Eve - lr site de la dificulté maternelle- <a class="mention-legales" >Mention Legales</a> </p>

</footer>